/*
Author: Patricia Sunday
Desc: Style sheet file for entire portfolio default
For: Assignment 1
*/
@import url(https://fonts.googleapis.com/css?family=DM+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);


h1{
    margin-left: 5%;
    font-family: DM Sans;
}

p{
    font-family: Roboto;
}

/*to space heading and main content*/
main{
    margin-left: 5%;
    flex-grow: 1; /*make footer stay at bottom of page by letting main take up all available page space*/
}


/*to style text as headings*/
.heading2 {
    font-weight: bold;
    font-size: 1.3rem;
    font-family: DM Sans;
}

.heading3 {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: DM Sans;
}