/*
Author: Patricia Sunday
Description: Style sheet file for homepage in portfolio
For: index.php
*/

.self-intro{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0% 2%;
}

/*to size & style images*/
header img {
    margin-left: 40%;
    max-width: 125px;
    border: 1px solid #E2C6B6;
    border-radius: 50%;
}

header h1{
    margin-left: 32%;
}
/*to align groups with corresponding images*/
.personal-info,.college-info{
    display: flex;
    gap: 10%;
}

/*to style boxes surrounding text*/
.personal-info-box, .college-info-box {
    background-color: white;
    border: 1px solid #E2C6B6;
    padding: 10px;
    width: 85%;
    margin-right: 5%;
    font-family;
}

/*to style text in boxes*/
.personal-info-box *, .college-info-box *{
    color: #E2C6B6;
    background-color: white;
    margin: 10px 0px;
}

/*responsive design*/
@media (max-width: 800px) {
    .personal-info, .college-info {
        flex-direction: column;
    }
    
    .personal-info-box, .college-info-box {
        font-size: 0.8rem;
    }
}

