/*
Author: Patricia Sunday
Desc: Style sheet file for projects page in portfolio
For: Assignment 1-projects.html
*/

main {
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

main *{
    background-color: white;
}

/*to style project sections*/
.project{
    border: 2px solid black;
    padding: 20px;
    min-width: 35%;
    max-width: 35%;
}

/*to style all project text content*/
main div *{
    background-color: white;
    color: black;
    margin-top: 5%;
}

/*to remove bullet points for specific jots*/
.unlist {
    list-style-type: none;
}

button {
    color: black;
    border: 2px solid black;
    font-size: 1.5em;
    width: fit-content;
    padding: 2%;
    border-radius: 10px;
}

button:hover {
    background-color: #E8ECD7
}

/*to hide project details by default*/
.project-details {
    display: none;
    margin-top: 10px;
}

header p{
    text-align:center;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
    max-height: fit-content;
}

.project-details > img{
    max-width: 100%;
    border: 1px solid black;
}

/*responsive design to match javascript*/
@media (max-width: 800px) {
    .projects-container {
        width: 90%;
    }
    .project {
        min-width: 60%;
        max-width: 60%;
    }
}
