@import "tailwindcss";

/*to resize footer logos equally*/
.footer-image{
    @apply w-[1.5rem];
}

/*for nav & its interactivity*/
.nav-activity{
    @apply bg-[var(--primary-color)];
    @apply p-2;
    @apply rounded-sm;
    @apply hover:bg-[var(--primary-contrast)];
    @apply hover:text-[var(--bg-color)];
    @apply hover:text-shadow-lg;
}

/*for contactme.php --flex structure for input and corresponding label*/
.input-group-flex{
    @apply flex;
    @apply flex-col;
}

/*for contactme.php --text-related input borders*/
.input-border{
    @apply border-1;
    @apply border-[var(--primary-color)];
    @apply rounded-xl;
    @apply p-2;
}

/*for index.php --text-card-specific styling*/
.text-card{
    @apply p-7;
}

/*for index.php --spaxcing between list items*/
.list-gap{
    @apply m-2.5;
}

/*for custom variables
 -portfolio palette colors*/
:root{
    --bg-color: white;
    --text-color: #3B1F2B;
    --subtitle-color: #8C4A6E;

    /*for buttons, header, footer, etc*/
    --primary-color: #FFE6F0;
    --primary-contrast: #FF6F91;
    --accent-color: #FFD166;
}